.vscode
.DS_Store
venv/
.env
.env.dev
.env.prod
app/.env
app/.env.dev
app/.env.prod
*.pyc
config.py
app/backend/migrations/
gunicorn/
nginx/nginx_server.conf
app/static/
app/frontend/build/static/
app/frontend/src/build/
app/frontend/src/constants/recaptcha.js
recaptcha.js